* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: #f8fafc;
  color: #1e293b;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #0f172a;
}

.logo {
  color: #e2e8f0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: #e2e8f0;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #38bdf8;
}

/* ABOUT */
.about {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 80px 60px;
  max-width: 1100px;
  margin: auto;
}

.about img {
  width: 220px;
  border-radius: 12px;
}

.about-text h2 {
  color: #0f172a;
  margin-bottom: 10px;
}

.about-text h3 {
  margin-bottom: 15px;
}

.edu {
  margin-top: 15px;
}

/* PROJECTS */
.projects {
  padding: 60px;
  max-width: 1100px;
  margin: auto;
}

.projects h2 {
  margin-bottom: 30px;
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* CONTACT */
.contact {
  padding: 60px;
  text-align: center;
  background: #e2e8f0;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #0f172a;
  color: #e2e8f0;
}
